[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycli = "*"
aiohttp = "*"
asynctest = "*"
typer = "*"

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
